.Calendar-notifications {
  top: 0;
  right: 0;
  &__top {
    top: 0;
    left: 0;
    height: 25px;
  }
  &__close {
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  &__item {
    width: 300px;
    height: auto;
    letter-spacing: -3px;
    filter: blur(1px);
    background-color: white;
  }
}
